.projects-section-header{
  color: white;
}

.other-projects-header{
  color: rgb(44,209,181);
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 3px;
  margin-bottom: 0.75rem;
}

.other-projects-section{
  padding: 0 5%;
}
