.projects__header{
  color: rgb(44,209,181);
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 3px;
  margin-bottom: 0.75rem;
  text-align: center;
}

.projects__card-layout {
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}
