.text-animate {
  display: inline-block;
  opacity: 0;
  animation: bounceIn 1s 1s;
  animation-fill-mode: forwards;
  min-width: none;
}

.text-animate-hover {
  min-width: 10px;
  display: inline-block;
  animation-fill-mode: both;

  &:hover {
    animation: rubberBand 1s;
    // color:  rgb(44,209,181)
  }
}

@for $i from 1 through 37 {
  .text-animate._#{$i} {
    animation-delay: calc($i / 10)s;
  }
}

@media (max-width: 400px) {
  .text-animate-hover {
    font-size: 75px;
  }

}
