@use '../../assets/abstracts/colors';
@use '../../assets/abstracts/fonts';


.main-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test-link {
  color: white;
  font-size: 2rem;
}

.page {
  height: 100%;
  display: grid;
  grid-auto-rows: auto;
  margin: auto;

  /* CSS Smooth Scroll */
  // overflow-y: scroll;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.page::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}


.top-tags {
  bottom: auto;
  top: 35px;
}

.tags {
  color: #ffd700;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 120px;
  font-size: 18px;
  font-family: fonts.$font-family;
}

.bottom-tag-html {
  margin-left: -20px;
}

.mainpage-section {
  width: 90%;
  max-width: 1140px;
}

.section-header {
  color: colors.$primary-color;
  position: relative;
  margin-bottom: 2rem;
  font-size: 2rem;

  .section-header-text{
    background-color: colors.$background-color;
    padding-right: 1.25rem;
  }
}

.section-header:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #8d8d8d;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: -2;
}

@media screen and (max-width: 1140px) {
  .mainpage-section {
    margin: 0 3rem 0 3rem;
    width: 90%;
  }

  .section-header{
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .section-header{
    font-size: 1.5rem;
  }

  .mainpage-section {
    margin: 0 1rem 0 1rem;
    max-width: 300px;
  }
}

.test-aos {
  background-color: white;
  color: white;
  min-height: 200px;
}