
//** Main Colors **// 
/* Section header font color (light-blue) */
$primary-color: rgb(195,208,243); 

/* Highlighted text (light-green) */
$secondary-color: rgb(44,209,181);

/* Subtext (dark-green) */
$tertiary-color: rgb(141, 141, 141);

/* Other colors */
// $background-color: rgb(2, 44, 67);
$background-color: rgb(10, 50, 70);
