.featured-project { 
  display: flex;
  font-family: sans-serif;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  width: 95%;

  &__image-wrapper {
    position: relative;
    overflow: hidden;
    height: 325px;
  }

  &__image {
    height: 95%;
  }

  &__image-wrapper:hover > &__details{
    transform: translateY(0);
  }
  
  &__details {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 400ms ease-in-out ;
    transform: translateY(-100%);
    opacity: .75;
    background-color: black;
  
    & > * {
      padding: .5rem;
    }
  }

  &__card-description{
    font-size: 1.75rem;
    color: rgb(195, 208, 243);
    font-weight: 350;
  }

  &__tech-item {
    font-size: 1.25rem;
    color: rgb(135,136,142);
    padding-right: 1rem;
    font-weight: 350;
  }

  &__link-item {
    font-size: 1.5rem;
    color: white;
    padding: 0 0.5rem;
    transition: all 0.25s;

    &:hover {
      color: rgb(44,209,181);
    }
  }
}


@media screen and (max-width: 650px) {
  .featured-project__image-wrapper {
    height: 250px;
  }
}

@media screen and (max-width: 500px) {
  .featured-project__image-wrapper {
    height: 200px;
  }

  .featured-project__card-description {
    font-size: 1.5rem;
  }

}

@media screen and (max-width: 400px) {
  .featured-project__image-wrapper {
    height: 150px;
  }

  .featured-project__card-description,
  .featured-project__tech {
    display: none;
  }
}
