@use '../../assets/abstracts/colors';

// $headShot-height: 375px;
$headShot-height: 550px;


.home {
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin-bottom: 5rem;

  &__header-container {
    color: colors.$primary-color;
    font-size: 6rem;
    margin: 0;
    font-family: 'Coolvetica','Calibri', 'Gill sans', sans-serif;
    font-weight: 400;
    z-index: 1;
  }

  &__animated-letters-container{
    width: 100%;
  }

  &__animated-letters-container--swe{
    font-size: 5rem; 
  }

  &__headShot{
    position: absolute;
    height: $headShot-height;
    top: calc(50% - ($headShot-height)/2);
    left: 50%;
    z-index: 0;
    border-radius: 50%;
    overflow-x: hidden;
  }

  &__subtext {
    color: colors.$tertiary-color;
    margin-top: 20px;
    font-weight: 600;
    font-size: 16px;
    font-family: sans-serif;
    letter-spacing: 3px;
    z-index: 1;

  }

  &__contact-button {
    color:  colors.$primary-color;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid colors.$secondary-color;
    margin-top: 25px;
    float: left;
    white-space: nowrap;

    &:hover {
      background: colors.$secondary-color;
      color: #333;
    }
  } 

  &__contact-button,
  &__subtext,
  &__headShot {
    animation: fadeIn .5s 3.8s backwards;
  }
}

@media screen and (max-width: 1140px) {
  .home__headShot {
    $headShot-height: 375px;
    height: $headShot-height;
    top: calc(50% - ($headShot-height)/2);
  }
}


@media screen and (max-width: 850px) {
  .home {
    margin: 100px auto 100px auto;
    min-height: auto !important;
  }
  .home__animated-letters-container {
    font-size: 4.5rem;
  }

  .home__animated-letters-container--swe{
    font-size: 3.5rem; 
  }

  .home__headShot {
    $headShot-height: 250px;
    height: $headShot-height;
    top: calc(50% - ($headShot-height)/2);
  }
}

@media screen and (max-width: 650px) {
  .home__animated-letters-container {
    font-size: 3.5rem;
  }

  .home__animated-letters-container--swe{
    font-size: 2.5rem; 
  }

  .home__headShot {
    $headShot-height: 225px;
    height: $headShot-height;
    top: calc(50% - ($headShot-height)/2);
    left: 50%;

  }
}

@media screen and (max-width: 500px) {
  .home__headShot {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .home__animated-letters-container--swe{
    font-size: 2rem; 
  }

  .home__subtext {
    font-size: 12px;
  }
}
