.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  &__header-container {
    color: rgb(195, 208, 243);
    font-size: 6rem;
    margin: 0;
    font-family: 'Coolvetica','Calibri', 'Gill sans', sans-serif;
    font-weight: 400;
  }
  
  &__animated-letters-container{
    width: 100%;
  }

  &__subtext {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    font-family: sans-serif;
    letter-spacing: 3px;
  }

  &__contact-button {
    color:  rgb(195, 208, 243);
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid  rgb(44,209,181);
    margin-top: 25px;
    float: left;
    white-space: nowrap;

    &:hover {
      background: rgb(44,209,181);
      color: #333;
    }
  } 

  &__contact-button,
  &__subtext {
    animation: fadeIn .5s 4.5s backwards;
  }
}

@media screen and (max-width: 850px) {
  .home__animated-letters-container {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 650px) {
  .home__animated-letters-container {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 500px) {
  .home__animated-letter-space {
    display: none;
  }

  // Add line-break to "Software /br Engineer"
  .home__animated-letters-container--line-break {
    display: flex;
    flex-direction: column;
  }
}
