.home-page-container{
  height: 100vh;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-page {
  h1 {
    color: rgb(195, 208, 243);
    font-size: 6rem;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

    &::before {
      font-family: 'La Belle Aurore';
      color: rgb(44,209,181);
      font-size: 18px;
      margin-top: -40px;
      opacity: 0.6;
    }

    &::after {
      font-family: 'La Belle Aurore';
      color:  rgb(44,209,181);
      font-size: 18px;
      margin-top: 18px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
    }

    img {
      width: 32px;
      margin-left: 20px;
      opacity: 0;
      height: auto;
      animation: rotateIn 1s linear both;
    }
  }
}

h2 {
  color: #8d8d8d;
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  font-family: sans-serif;
  letter-spacing: 3px;
  animation: fadeIn .5s 1s backwards;
}

.flat-button {
  color:  rgb(195, 208, 243);
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 4px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid  rgb(44,209,181);
  margin-top: 25px;
  float: left;
  animation: fadeIn .5s 1s backwards;
  white-space: nowrap;

  &:hover {
    background: rgb(44,209,181);
    color: #333;
  }
}
