@use '../../assets/abstracts/colors';

.contact {
  display: flex;
  flex-direction: column;

  &__info-section { 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__info {
    color: colors.$secondary-color;
    margin: 0.25em;
  }
}
