.contact-section {
  // height: 100vh;
  margin-bottom: 10rem;
}

.contact-my-info { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-header {
  color: rgb(195, 208, 243);
}

.contact-number,
.contact-email {
  color: rgb(44, 209, 181);
  margin: 0.25em;
}