.sidebar{
  align-self: flex-start;
  position: sticky;
  position: -webkit-sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 50px;
  // margin-left: 50%;
  margin-left: calc((45% - 1140px/2)/2);
  margin-top: -375px;

  &__link {
    font-size: 1.75rem;
    margin-top: 1rem;
    color: white;
    transition: all 0.25s ease-in-out;
  }
  
  &__link:hover {
    transition: all 0.25s ease-in-out;
    color: rgb(44,209,181); 
    transform: translateY(-5px);
  }
}


@media screen and (max-width: 1350px) {
  .sidebar{
    display: none;
  }
}

