.footer {
  bottom: 0;
  height: 130px;
  width: 100%;

  background-color: rgb(0, 39, 59);
  margin-top: 2rem;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__socials-link{
    color: white;
    font-size: 30px;
    padding: 10px;
    transition: all 0.25s ease-in-out;

    &:hover {
      color: rgb(44,209,181); 
    }
  }

  &__contact {
    color: rgb(204, 205, 211);
    padding: 0.25em;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
  }

  &__contact-info{
    padding: 0.125em;
  }
  
  &__license {
    color: rgb(195, 208, 243);;
    font-size: 16px;
    font-weight: 900;
  }
}



