.experience-toc {
  display: grid;
  grid-template-columns: 1fr 4fr
}

.experience-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  color: white;
  // border-style: solid;
  justify-self: center;
  padding: 0.75rem;

  .experience-select::marker {
      content: "▶";
  }
}

.experience-info-blurb {
  color: white;

  .experience-company-info {
    color: #8d8d8d;
    font-weight: 400;
    font-size: 2rem;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .experience-position-info {
    color: #8d8d8d;
    font-weight: 400;
    font-size: 1.5rem;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .experience-date-info {
    color: #8d8d8d;
    font-weight: 400;
    font-size: 1rem;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
    // border-style: solid;
  }

  .experience-company-info,
  .experience-position-info,
  .experience-date-info {
    padding-left: 40px;
  }

  .experience-description-info{
    margin-top: 1rem;
    list-style: none;

    .experience-description-info-li{
      padding-left: 30px;
      position: relative;
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    .experience-description-info-li::before {
      content: "▶";
      font-size: 0.1 rem;
      position: absolute;
      left: 0;
    }

    
  }
}


// li {
//   // margin-right: 15px;
//   margin-bottom: 10px;
//   font-size: 1rem;
// }
.experience-input {
  visibility:hidden;
}
label {
  cursor: pointer;
}
input:checked + label {
  background: red;
}
