.experience-toc {
  display: grid;
  grid-template-columns: 1fr 4fr;
  // border-style: solid; //test

  /* Experience radio selector */
  &__radio {
    list-style: none;
    display: flex;
    flex-direction: column;
    color: rgb(135,136,142);
    justify-self: center;
    padding: 0.75rem;
  }
  
  &__radio-select {
    font-size: 1.25rem;
    font-weight: 400;
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: rgb(135,136,142);
    justify-self: center;
    padding: 0.5rem;
    transition: 1s;
    
    &--highlight-on {
      color: rgb(44,209,181);
      background-color: rgb(15, 31, 55);
      border-left-color: rgb(44,209,181);
      transition: 1s;
    }

    &:hover {
      color: rgb(44,209,181);
      background-color: rgb(15, 31, 55);
      border-left-color: rgb(44,209,181);
      transition: 1s;
    }
  }

  &__radio-input {
    display: none;
    cursor: pointer;
  }

  &__radio-label {
    height: 0;
  }

  /* Experience-toc info section */
  &__content{
    display: flex;
    flex-direction: column;
  }

  &__info {
    color: white;
    animation: fadeIn .5s .25s backwards;
  }

  &__position {
    color: rgb(44,209,181);
    font-weight: 400;
    font-size: 1.5rem;
    font-family: sans-serif;
    letter-spacing: 3px;
  }

  &__date {
    color: #8d8d8d;
    font-weight: 400;
    font-size: 1rem;
    font-family: sans-serif;
    letter-spacing: 3px;
  }

  &__position,
  &__date {
    padding-left: 40px;
  }

  &__carousel {
    padding-left: 70px;
    max-width: 400px;
  }

  &__description {
    margin-top: 1rem;
    list-style: none;
    font-weight: 350;
    letter-spacing: 1px;
  }


  &__list{
    padding-left: 30px;
    position: relative;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: rgb(195, 208, 243);

    &::before {
      content: "▷";
      color: rgb(44,209,181);
      font-size: 0.1 rem;
      position: absolute;
      left: 0;
    } 
  }
}

// React-slick (carousel) css
.slider-div > img {
  width: 400px;
}
.slick-dots li button:before {
  color: rgb(44,209,181) !important;
}

@media screen and (max-width: 750px) {
  .experience-toc__carousel {
    max-width: 350px;
    padding-left: 50px;
  }

  .slider-div > img {
    width: 350px;
  }

}

@media screen and (max-width: 650px) {
  .experience-toc {
    display: flex;
    flex-direction: column;
  }

  .experience-toc__radio {
    flex-direction: row;
    justify-content: center;
  }

  .experience-toc__radio-select {
    border-left: none;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: rgb(135,136,142);
  }

  .experience-toc__position,
  .experience-toc__date,
  .experience-toc__description,
  .experience-toc__radio {
    padding-left: 0px;
  }

  .experience-toc__position,
  .experience-toc__date {
    text-align: center;
  }


  .radio__select:hover {
    color: rgb(44,209,181);
    background-color: rgb(15, 31, 55);
    border-top-color: rgb(44,209,181);
    transition: 1s;
  }
}

@media screen and (max-width: 500px) {
  .experience-toc__radio {
    padding-top: 0px;
  }
  .experience-toc__radio-label {
    font-size: 1rem;
  }

  .experience-toc__carousel {
    max-width: 250px;
  }

  .slider-div > img {
    width: 250px;
  }
}

@media screen and (max-width: 400px) {
  .experience-toc__radio-label {
    font-size: .8rem;
    max-width: 320px; //Minimum width we want to support
  }

  .experience-toc__position {
    font-size:1.25rem;
  }

  .experience-toc__carousel {
    max-width: 200px;
  }

  .slider-div > img {
    width: 200px;
  }
}