.experience-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  color: white;
}

.experience-info-blurb {
  color: white;
}

li {
  display: inline-block;
  margin-right: 15px;
}
input {
  visibility:hidden;
}
label {
  cursor: pointer;
}
input:checked + label {
  background: red;
}
